{
  "env": {
    "es6": true,
    "browser": true,
  },
  "ecmaFeatures": {
    "templateStrings": true,
    "arrowFunctions": true,
    "modules": true,
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "no-console": 1,
    "semi": 1
  }
}
