{
  "parser": "babel-eslint",
  "plugins": [ "react", "duck", "import" ],
  "extends": [ "eslint:recommended", "plugin:duck/recommended", "plugin:import/recommended" ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-alert": 1,
    "no-unused-vars": 1,
    "react/jsx-uses-vars": 1,
    "no-var": 2,
    "new-cap": 0,
    "quotes": [1, "single", "avoid-escape"],
    "no-console": 1,
    "semi": 1,
    "indent": [2, 2],
    "duck/meta-validation": [2, ["optimist", "promise", "feedbackOnError", "feedbackOnSuccess", "feedbackDirectly", "updateSettingStorage", "updateUserStorage", "github", "updateEmojisStorage"]]
  }
}
