{
  "parser": "babel-eslint",
  "plugins": ["react", "duck", "import", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:duck/recommended",
    "plugin:import/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-alert": 1,
    "no-unused-vars": 2,
    "react/jsx-uses-vars": 1,
    "no-var": 2,
    "new-cap": 0,
    "no-console": 1,
    "no-undef": 2,
    "no-shadow": 2,
    "duck/meta-validation": [
      2,
      [
        "optimist",
        "promise",
        "updateSettingStorage",
        "updateUserStorage",
        "github",
        "updateEmojisStorage"
      ]
    ]
  }
}
