@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/octicons/octicons/octicons.css';

.kanban-board td { vertical-align: top; }
.kanban-board th,
.kanban-board td {
  width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.kanban-board .panel.issue { cursor: pointer; }
.kanban-board .panel.issue .issue-number::before { content: '#'; }
.kanban-board .panel.issue .issue-number { font-size: 200%; }
.kanban-board .panel.issue:not(:hover) .issue-body { height: 0; overflow-y: hidden; }

.kanban-board .panel.issue .issue-body {
  height: 100%;
  overflow-y: auto;

  transition: all 1s ease-in-out 1s;
  -webkit-transition: all 1s ease-in-out 1s;
}

.modal.issue-edit .body-avatar,
.modal.issue-edit .avatar-image {
  width: 5rem;
}

.markdown-format { }

.issue-comment-wrapper { }
.issue-comment { width: 100%; }
.issue-comment-avatar { }

.issue-comment-header { }
.issue-comment-header-text { }

.comment-content { }
.comment-body { }


/* Just make it gray so it is clear we are dragging this element */
.is-dragging {
  color: #ccc !important;
  background-color: #ccc !important;
}

.dnd-placeholder {
  background-color: #ccc;
  height: 15rem;
  margin: 2rem;
}

.dnd-placeholder::before { content: 'Release to drop me in this list'; }


.topbar-nav .logoff .avatar { max-height: 40px; }

/* Make sure images are scaled to fit in the modal */
.rendered-markdown img { max-width: 100%; }

.rendered-markdown.is-empty { color: #ccc; font-style: italic; }
.rendered-markdown.is-empty::before { content: 'No Content provided.'; }

.issue-comments.is-empty { color: #ccc; font-style: italic; }
.issue-comments.is-empty::before { content: 'No Comments'; }

textarea.edit-text { min-height: 5rem; max-height: 100rem; }

.emoji { width: 20px; height: 20px; }

.issue.is-updated { background-color: #ff9; }
.issue.is-blocked { background-color: #f99; }

.octicon.is-open,
.mega-octicon.is-open { color: #6cc644; }
