.kanban-board td { vertical-align: top; }
.kanban-board th,
.kanban-board td {
  width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.kanban-board .panel.issue { cursor: pointer; }
.kanban-board .panel.issue .issue-number::before { content: '#'; }
.kanban-board .panel.issue .issue-number { font-size: 200%; }


.modal.issue-edit .body-avatar,
.modal.issue-edit .body-avatar .avatar-image {
  vertical-align: top;
  width: 5rem;
}

.markdown-format { }

.issue-comment-wrapper { }
.issue-comment { }
.issue-comment-avatar { }

.issue-comment-header { }
.issue-comment-header-text { }

.comment-content { }
.comment-body { }


/* Just make it gray so it is clear we are dragging this element */
.is-dragging {
  color: #ccc !important;
  background-color: #ccc !important;
}

.dnd-placeholder {
  background-color: #ccc;
  height: 15rem;
  margin: 2rem;
}

.dnd-placeholder::before { content: 'Release to drop me in this list'; }


.topbar-nav .logoff .avatar { max-height: 40px; }

/* Make sure images are scaled to fit in the modal */
.rendered-markdown img { max-width: 100%; }
